<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Animex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <h2 style="color: #088178;">Animex</h2>
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                    </button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/adminhome">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/adminCustomer">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Customer</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link active" href="/adminProductPage">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link " href="/adminPageCategories">
                            <i class="icon material-icons md-layers"></i> <!-- Changed to md-layers -->
                            <span class="text">Categories</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/adminPageBrand">
                            <i class="icon fa-solid fa-star"></i>
                            <span class="text">Brands</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/orderList">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>        
                    <li class="menu-item active">
                        <a class="menu-link" href="/coupon">
                            <i class="icon fa-solid fa-receipt"></i> <!-- Use the same icon name -->
                            <span class="text">Coupon</span>
                        </a>
                    </li>        
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon fa-solid fa-bolt"></i>
                            <span class="text">Best Sellers</span>
                        </a>
                        <div class="submenu">
                            <a href="/bestProductRoute">Products</a>
                            <a href="/bestCategoryRoute">Categories</a>
                            <a href="/bestBrandRoute">Brand</a>
                        </div>
                    </li>            
                    <li class="menu-item">
                        <a class="menu-link" href="/adminlogout">
                            <i class="icon material-icons md-exit_to_app"></i> <!-- Changed to md-exit_to_app -->
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
                
                <hr>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/adminSettingsPage"> <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li>
                </ul>
                <br>
                <br>
            </nav>
        </aside>
  <main class="main-wrap">
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Add Coupon </h2>
          <p>Add, edit or delete a Coupon</p>
        </div>
      </div>

       
    
      <div class="card">

        <div class="card-body">
          <div class="row">
            <form action="/submitNewCoupon" method="POST" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col-md-9">
                        <div class="mb-4">
                            <label class="form-label">Coupon Code</label>
                            <input type="text" placeholder="Type here" name="coupon_code" class="form-control" id="coupon_code" onkeyup="validateCode()">
                            <span id="code-error" class="error-msg"></span> <!-- Corrected ID -->
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name="description" rows="4" id="coupon_description" rows="4" onkeyup="validateDescription()"></textarea>
                            <span id="description-error" class="error-msg"></span>
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Percentage</label>
                            <input type="text" placeholder="Type here" name="percentage" class="form-control" id="percentage" onkeyup="validatePrice()">
                            <span id="price-error" class="error-msg"></span><!-- Corrected ID -->
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Minumum Amount</label>
                            <input type="text" placeholder="Type here" name="minimumAmount" class="form-control"  id="min_amount" min="0" onkeyup="validateMinAmount()">
                            <span id="min-amount-error" class="error-msg"></span> <!-- Corrected ID -->
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Maximum Dicount Amount</label>
                            <input type="text" placeholder="Type here" name="maximumAmount" class="form-control" id="max_amount" min="0" onkeyup="validateMaxAmount()">
                            <span id="max-amount-error" class="error-msg"></span> <!-- Corrected ID -->
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Exp date</label>
                            <input type="date" placeholder="Type here" name="expiryDate" class="form-control" id="expiry_date" onchange="validateDate()">
                            <span id="date-error" class="error-msg"></span> <!-- Corrected ID -->
                        </div>
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            <button  type="submit" class="btn btn-md rounded font-sm hover-up" >Add New Coupon</button>
                            <span id="submit-error" class="error-msg"></span>

                        </div>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </form>

        </div>
    </div>
</div>
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
<div class="row pb-30 pt-15">
    <div class="col-sm-6">
        <script>
            document.write(new Date().getFullYear())
        </script> ©, Evara - HTML Ecommerce Template .
    </div>
    <div class="col-sm-6">
        <div class="text-sm-end">
            All rights reserved
        </div>
    </div>
</div>
</footer>
</main>

<script>
    function validateCode() {
      var codeError = document.getElementById("code-error");
      var code = document.getElementById("coupon_code").value.trim();
      var uppercaseRegex = /^[A-Z0-9]+$/;
      if (!uppercaseRegex.test(code)) {
        codeError.innerHTML = "Coupon code must contain only uppercase letters and numbers";
        codeError.style.color = "red";
        return false;
      }
      codeError.innerHTML = "";
      return true;
    }

    function validateDescription() {
      var descriptionError = document.getElementById("description-error");
      var desc = document.getElementById("coupon_description").value.trim();
      if (desc.length === 0) {
        descriptionError.innerHTML = "Description is required";
        descriptionError.style.color = "red";
        return false;
      }
      descriptionError.innerHTML = "";
      return true;
    }

    function validatePrice() {
      var priceError = document.getElementById("price-error");
      var price = document.getElementById("percentage").value.trim();
      if (price.length === 0 || isNaN(price) || parseFloat(price) <= 0 || parseFloat(price) > 100) {
        priceError.innerHTML = "Invalid entry";
            priceError.style.color = "red";
            return false;
          }
          priceError.innerHTML = "";
          return true;
        }
    
        function validateMinAmount() {
          var minAmountError = document.getElementById("min-amount-error");
          var minAmount = document.getElementById("min_amount").value.trim();
          if (minAmount.length === 0 || minAmount < 1  || isNaN(minAmount) || parseFloat(minAmount) < 0) {
            minAmountError.innerHTML = "Invalid entry";
            minAmountError.style.color = "red";
            return false;
          }
          minAmountError.innerHTML = "";
          return true;
        }
    
        function validateMaxAmount() {
          var maxAmountError = document.getElementById("max-amount-error");
          var maxAmount = document.getElementById("max_amount").value.trim();
          if (maxAmount.length === 0 || maxAmount < 1 || isNaN(maxAmount) || parseFloat(maxAmount) < 0) {
            maxAmountError.innerHTML = "Invalid entry";
            maxAmountError.style.color = "red";
            return false;
          }
          maxAmountError.innerHTML = "";
          return true;
        }
    
        function validateDate() {
          var dateError = document.getElementById("date-error");
          var dateInput = document.getElementById("expiry_date").value;
          var currentDate = new Date();
          var selectedDate = new Date(dateInput);
          if (selectedDate <= currentDate) {
            dateError.innerHTML = "Please select a future date";
            dateError.style.color = "red";
            return false;
          }
          dateError.innerHTML = "";
          return true;
        }
    
        function validateForm() {
          var isValid = true;
          isValid &= validateCode();
          isValid &= validateDescription();
          isValid &= validatePrice();
          isValid &= validateMinAmount();
          isValid &= validateMaxAmount();
          isValid &= validateDate();
          
          var submitError = document.getElementById("submit-error");
          if (!isValid) {
            submitError.innerHTML = "Please enter all the fields correctly to submit";
            submitError.style.color = "red";
            return false;
          } else {
            submitError.innerHTML = "";
            return true;
          }
        }
      </script>


 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
 <script src="/static/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
 <script src="/static/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
 <script src="/static/admin-assets/js/vendors/select2.min.js"></script>
 <script src="/static/admin-assets/js/vendors/perfect-scrollbar.js"></script>
 <script src="/static/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
</body>

</html>
