<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Animex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <h2 style="color: #088178;">Animex</h2>
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                    </button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/adminhome">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/adminCustomer">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Customer</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/adminProductPage">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/adminPageCategories">
                            <i class="icon material-icons md-layers"></i> <!-- Changed to md-layers -->
                            <span class="text">Categories</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/adminPageBrand">
                            <i class="icon fa-solid fa-star"></i>
                            <span class="text">Brands</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/orderList">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/coupon">
                            <i class="icon fa-solid fa-receipt"></i> <!-- Use the same icon name -->
                            <span class="text">Coupon</span>
                        </a>
                    </li>                                     
                    <li class="menu-item">
                        <a class="menu-link" href="/adminlogout">
                            <i class="icon material-icons md-exit_to_app"></i> <!-- Changed to md-exit_to_app -->
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
                
                <hr>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/adminSettingsPage"> <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li>
                </ul>
                <br>
                <br>
            </nav>
        </aside>
        <main class="main-wrap">
            
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹<%= totalRevenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= ordersCount %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= productsCount %></span>
                                <span class="text-sm">
                                    In 19 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Users</h6> <span><%= customers %></span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            
                

            <div class="row">
                <div class="col-lg-5">
                  <div>
                    <div class="d-flex align-items-center">
                      <label for="startDate" class="me-2">Start Date:</label>
                      <input type="date" id="startDate" class="form-control me-2">
                      <label for="endDate" class="me-2">End Date:</label>
                      <input type="date" id="endDate" class="form-control me-2">
                    </div>
                    <a href="#" class="btn btn-primary mt-4" id="createReportButton">
                      <i class="text-muted material-icons md-post_add"></i>Create report
                    </a>
                  </div>
        
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="reportContainer" class="mt-4">
                    <iframe id="reportPreview" width="100%" height="500px" frameborder="0"></iframe>
                    <button id="downloadButton" class="btn btn-primary mt-2" style="display: none;">
                      <i class="text-muted material-icons md-file_download"></i>Download Report
                    </button>
                  </div>
                </div>
              </div>
            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>


   
    <script src="/static/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function () {
      $('#createReportButton').click(function () {
        $.ajax({
          url: '/generate-report',
          type: 'POST',
          data: {
            startDate: $('#startDate').val(),
            endDate: $('#endDate').val()
          },
          success: function (response) {
            console.log(response);
            $('#reportPreview').attr('src', response.reportUrl);

            $('#downloadButton').show();
          },
          error: function (xhr, status, error) {
          console.error(error);
          }
        });
      });
    });
  </script>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/static/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/static/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/static/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/static/admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/c3933791eb.js" crossorigin="anonymous"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>