<!DOCTYPE html>
<html>
<head>
  <title>Edit Profile - Animex</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-JDOvPXhfZgE/bs+FMqRf1rVHzAIn2tD5z5Q3zYqlv7qIYk5Nb57Ala9b2Di1D3FJf58po05MRV31/KBtCJnH7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    /* Add any additional styling specific to the edit profile page here */
    body {
      font-family: "Montserrat", sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }
    .edit-profile-form {
      background: #fff;
      border-radius: 10px;
      padding: 50px;
      margin: 65px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      position: relative;
    }
    .edit-profile-form h3 {
      color: #333;
      margin-bottom: 20px;
      border-bottom: 2px solid #88c8bc;
      padding-bottom: 10px;
    }
    .edit-profile-form label {
      font-weight: bold;
    }
    .edit-profile-form input[type="text"],
    .edit-profile-form input[type="email"],
    .edit-profile-form input[type="tel"],
    .edit-profile-form input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .edit-profile-form .update-button {
      background-color: #88c8bc;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin-top: 25px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .update-button:hover {
      background-color: #488f82;
    }
    .sidebar {
      background: #f8f9fa;
      border-right: 1px solid #ddd;
      padding: 20px;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      overflow-y: auto;
      margin-top: 100px;
    }
    .sidebar h4 {
      margin-bottom: 40px;
      color: #333;
      border-bottom: 2px solid #88c8bc;
      padding-bottom: 10px;
    }
    .sidebar ul {
      list-style: none;
      padding-left: 0;
    }
    .sidebar ul li {
      margin-bottom: 10px;
    }
    .sidebar li a {
      color: #333;
      text-decoration: none;
      display: block;
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: "Montserrat", sans-serif; /* Change the font family */
      font-weight: 500;
    }
    .sidebar li a:hover {
      background-color: #88c8bc; /* Change background color on hover */
      color: #fff; /* Change text color on hover */
    }
    li {
      list-style: none;
      font-size: 17px;
      font-weight: 400;
      margin: 30px 0px;
    }
    .active{
      background-color: #88c8bc;
      border-radius: 5px;
    }
    .message {
      color: red;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div id="page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="sidebar">
            <li><a href="/index"><i class="fa-solid fa-house"></i>   Home</a></li>
                <li><a href="/profile"><i class="fas fa-user"></i>  Profile</a></li>
                <li class="active"><a href="/addressManage"><i class="fas fa-address-book"></i>  Address Management</a></li>
                <li><a href="/orderProfile"><i class="fas fa-list"></i>  Orders</a></li>
                <li><a href="/wallet"><i class="fa-solid fa-wallet"></i>  Wallet</a></li>
          </div>
        </div>
        <div class="col-md-10">
          <div class="edit-profile-form">
            <h3>Edit Profile</h3>
            <% if (locals.message) { %>
              <h5 class="message"><%= message %></h4>
            <% } %>
            <form action="/editUserProfile" method="POST">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text"  id="contact-name" name="name" value="<%= editUser.name %>" required  onkeyup="validateName()"/>
                <span id="name-error" class="error-message"></span>
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="contact-phone" name="mobile" value="+91<%= editUser.mobile %>" required  onkeyup="validatePhone()"/>
                <span id="phone-error" class="error-message"></span>
              </div>
              <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required />
              </div>
              <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required />
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required />
                <span id="confirm-password-error" class="error-message"></span>
              </div>              
              <button type="submit" class="update-button">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>

var nameError = document.getElementById("name-error");
var phoneError = document.getElementById("phone-error");

     function validateName() {
        var name = document.getElementById("contact-name").value.trim();
        var nameError = document.getElementById("name-error");
      
        // Check if the name is empty
        if (name.length === 0) {
          nameError.innerHTML = "Name is required";
          nameError.style.color = "red";
          return false;
        }
      
        // Check if the name starts or ends with whitespace
        if (/^\s|\s$/.test(name)) {
          nameError.innerHTML = "Name should not start or end with a space";
          nameError.style.color = "red";
          return false;
        }
      
        // Check if the name contains only alphabets or spaces
        if (!/^[A-Za-z ]+$/.test(name)) {
          nameError.innerHTML = "Name should contain alphabets only";
          nameError.style.color = "red";
          return false;
        }
      
        // Check if the name contains at least two parts (first name and last name)
        var nameParts = name.split(" ");
        if (nameParts.length < 2) {
          nameError.innerHTML = "Please enter your full name";
          nameError.style.color = "red";
          return false;
        }
      
        // Check if each part of the name is at least 2 characters long
        for (var i = 0; i < nameParts.length; i++) {
          if (nameParts[i].length < 2) {
            nameError.innerHTML = "Each part of the name should be at least 2 characters long";
            nameError.style.color = "red";
            return false;
          }
        }
      
        // Check if the name contains any invalid characters or consecutive spaces
        if (!/^[\w\s]+$/.test(name)) {
          nameError.innerHTML = "Invalid characters or consecutive spaces detected";
          nameError.style.color = "red";
          return false;
        }
      
        // If all checks pass, the name is valid
        nameError.innerHTML = "Valid";
        nameError.style.color = "green";
        return true;
      }

      function validatePhone() {
          var phone = document.getElementById("contact-phone").value.trim();
      
          if (phone.length == 0) {
            phoneError.innerHTML = "Phone number is required";
            phoneError.style.color = "red";
            return false;
          }
      
          if (!phone.match(/^[6-9][0-9]{9}$/)) {
            phoneError.innerHTML = "Invalid phone number";
            phoneError.style.color = "red";
            return false;
          }
      
          phoneError.innerHTML = "Valid";
          phoneError.style.color = "green";
          return true;
        }
  </script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-DaGUvSUoc0W5jbC2B0O6qbRfufJtehO7eI/bM0K38Es0K4PXT/ZguSN5NCTnvdAxg0eUjLTYaBs1k/1qIG4KWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
